---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
// import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero2 image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}>
    <Fragment slot="title">
      <span class="hidden lg:inline">Secretaría de Turismo <br class="2xl:hidden" /></span>
      <span class="text-red-900 highlight">Municipio General Felipe Varela</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Villa Unión</span> tierra de tradiciones y paisajes apasionantes que no podes dejar de
        visitar. Sus distintas localidades, sus bellezas naturales y sobre todo su gente harán de tu recorrido una experiencia
        muy especial. Vení a conocernos, te estamos esperando.-</span
      >
    </Fragment>
  </Hero2>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Content Widget **************** -->

  <Content
    highlight="Vení a conocernos"
    title="te mostramos algunos de nuestros principales atractivos"
    items={[
      {
        title: 'Historia',
        description:
          'Las vastas cuencas permanecían virtualmente desconocida debido a su aislamiento. Solo la construcción de la carretera en la década de 1970, que une Patquía con Villa Unión permitió el ingreso de vehículos motorizados. El objetivo fue conservar una interesante muestra del ambiente de monte, yacimientos arqueológicos y paleontológicos en un marco de imponente belleza escénica. El cañón y su acceso fueron por primera vez levantados por el ingeniero Werner Lorenz, geodesta alemán radicado en Villa Unión.',
      },
      {
        title: 'Visitanos',
        description:
          'Comprá on-line tu ticket de ingreso haciendo click <a href="https://ventaweb.apn.gob.ar/reserva/inicio?dp=11" target="_blank">aquí</a> ',
      },
    ]}
    image={{
      src: import('/public/images/Banner/Atractivos/Talampaya 2.png'),
      alt: 'Parque Nacional Talampaya',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Parque Nacional Talampaya</h3>
      Se encuentra ubicado al oeste de la Pcia. de La Rioja, en el Dpro. General Felipe Varela. Fue creado con el objetivo
      de proteger importantes yacimientos arqueológicos y paleontológicos de la zona. Ocupa 213.800ha (según la Administración
      de Parques Nacionales). En 2000 la Unesco lo declaró como Patrimonio Cultural y Natural de la Humanidad en América.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('/public/images/Banner/Atractivos/collage-scaled.jpg'),
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">¡Mucho por conocer!</h3>
      El Departamento General Felipe Varela en la provincia de La Rioja, Argentina, es un lugar lleno de hermosos paisajes
      naturales, rica cultura y patrimonio histórico.
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    highlight="Components"
  />

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Descubre más contenido en nuestro Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[]}
  />
</Layout>
